
      body {
        margin: 0;
        padding: 0;
        display: grid;
        place-content: center;
        min-height: 100vh;
        background-color: black;
      }
      .whole {
        max-width: 1440px;
      }
      @media (max-width: 1440px) {
        .whole {
          min-width: 400px;
        }
        .innerlist {
          display: none;
        }
      }

      .headerlist > .sunny {
        padding-left: 20px;
        font-family: "Fraunces", serif;
        font-weight: 600;
        font-size: 25px;
        color: white;
        height: 50px;
        margin-right: 0px auto;
      }
      .header {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        font-family: "Fraunces", serif;
        background-color: white;
        height: 80vh;
        /* position: relative; */
        /* text-align: center; */
      }
      .header-image {
        background-image: url("images/desktop/image-header.jpg");
        background-repeat: no-repeat;
        background-blend-mode: multiply;
        background-size: cover;
        /* position: static; */
        width: 100%;
        height: 80vh;
        background-position: bottom;
        position: relative;
        /* opacity: 0; */
      }
      .weArecreatives {
        position: relative;
      }
      .header h1 {
        padding-top: 40px;
        text-transform: uppercase;
        color: white;
        letter-spacing: 7px;
        text-align: center;
        align-content: center;
        font-size: 35px;
        margin: 0;
      }
      .header > .arrow h1 {
        margin: 0;
        position: absolute;
        color: rgb(254, 252, 252);
        font-size: 100px;
        top: 178px;
        left: 341px;
      }
      @media (min-width: 800px) {
        .transform {
          display: flex;
          flex-direction: row-reverse;
        }
        .transform img {
          width: 50%;
        }
        .standout {
          display: flex;
          flex-direction: row;
        }

        .standout img {
          width: 50%;
        }
        .fruits {
          display: grid;
          grid-template-columns: 1fr 1fr;
        }
        .apples {
          width: 50%;
          /* background-image: url("images/desktop/image-graphic-design.jpg");
          background-repeat: no-repeat;
          background-size: cover; */
        }

        .orange {
          width: 50%;
        }
        .allClients {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
        }
        .firsttwo {
          display: flex;
          flex-direction: row;
        }
        .secondtwo {
          display: flex;
          flex-direction: row;
        }
      }
      .firsttwo {
        display: grid;
        grid-template-columns: 2fr 2fr;
      }
      .secondtwo {
        display: grid;
        grid-template-columns: 2fr 2fr;
      }

      .headerlist ul {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 1.5rem;
        padding: 1.5rem 0px;
        color: white;
      }
      
      /* @media (max-width: 800px) {
        .images {
          display: flex;
          flex-wrap: wrap;
        }
      } */

      .transform {
        background-color: white;
      }
      section {
        background-color: white;
      }
      img {
        width: 100%;
      }
      .innertransform {
        place-content: center;
      }
      .innerstandout {
        place-content: center;
      }
      .transform h2 {
        text-align: center;
        font-family: "Fraunces", serif;
        font-weight: 800;
        font-size: 40px;
      }
      .transform p {
        text-align: center;
        font-family: "Barlow", sans-serif;
        font-weight: 700;
        line-height: 26px;
        opacity: 50%;
        font-size: 20px;
      }
      .transform h3 {
        text-align: center;
        font-family: "Fraunces", serif;
        text-transform: uppercase;
        text-decoration-line: underline;
        text-decoration-color: rgb(255, 255, 142);
        text-decoration-thickness: 5px;
        padding: 30px;
        padding-bottom: 60px;
        margin: 0;
      }

      .standout h2 {
        text-align: center;
        font-family: "Fraunces", serif;
        font-weight: 800;
        font-size: 40px;
        padding-top: 10px;
      }
      .standout p {
        text-align: center;
        font-family: "Barlow", sans-serif;
        font-weight: 700;
        line-height: 26px;
        opacity: 50%;
        font-size: 20px;
        padding: 20px;
      }
      .standout h3 {
        text-align: center;
        font-family: "Fraunces", serif;
        text-transform: uppercase;
        text-decoration-line: underline;
        text-decoration-color: rgb(254 169 162);
        text-decoration-thickness: 5px;
        padding: 30px;
        padding-bottom: 60px;
        margin: 0;
      }
      .apples {
        background-image: url("images/desktop/image-graphic-design.jpg");
        background-repeat: no-repeat;
        /* background-blend-mode: multiply; */
        background-size: cover;
        width: 100%;
        height: 70vh;
        /* background-position: bottom; */
      }
      .apples h2 {
        text-align: center;
        font-family: "Fraunces", serif;
        font-weight: 800;
        font-size: 40px;
        color: rgb(42, 93, 42);
        padding-top: 325px;
        margin: 0;
      }
      .apples p {
        text-align: center;
        font-family: "Barlow", sans-serif;
        font-weight: 700;
        line-height: 26px;
        opacity: 60%;
        font-size: 14px;
        color: hsl(167, 40%, 24%);
      }
      .orange {
        background-image: url("images/desktop/image-photography.jpg");
        background-repeat: no-repeat;
        background-blend-mode: multiply;
        background-size: cover;
        width: 100%;
        height: 70vhvh;

        /* background-position: bottom; */
      }
      .orange h2 {
        text-align: center;
        font-family: "Fraunces", serif;
        font-weight: 800;
        font-size: 40px;
        color: hsl(210, 13%, 34%);
        padding-top: 325px;
        margin: 0;
      }
      .orange p {
        text-align: center;
        font-family: "Barlow", sans-serif;
        font-weight: 700;
        line-height: 26px;
        opacity: 60%;
        font-size: 17px;
        /* padding: 18px; */
        color: hsl(198, 62%, 26%);
        margin-bottom: 0;
      }
      .client-testimonials {
        text-align: center;
        padding: 20px;
      }
      .client-testimonials h1 {
        margin: 0;
        align-content: center;
        opacity: 54%;
        font-family: "Fraunces", serif;
        text-transform: uppercase;
        font-size: 15px;
        padding: 40px;
        letter-spacing: 3px;
      }
      .client-testimonials img {
        border-radius: 50%;
        width: 80px;
        height: 80px;
        align-content: center;
      }
      .client-testimonials h2 {
        font-family: "Fraunces", serif;
        font-size: 15px;
        font-weight: 900;
      }
      .client-testimonials div {
        margin: 0;
        align-content: center;
        opacity: 90%;
        font-family: "Barlow", sans-serif;
        font-size: 12px;
        padding-bottom: 50px;
      }
      .client-testimonials p {
        text-align: center;
        /* font-family: "Barlow", sans-serif; */
        font-weight: 600;
        line-height: 26px;

        font-size: 18px;
        padding: 15px;
      }
      .footer {
        display: grid;
        justify-content: space-around;
        margin-bottom: 20px;
        margin: 0;
        width: 100%;
        text-align: center;
        background-color: rgb(110 188 174);
        height: 40vh;
      }

      /* @media (min-width: 800px) {
        .images {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr;
        }
      } */
      /* @media (max-width: 700px) {
        .footer-image {
          display: grid;
          grid-auto-rows: 1fr 1fr 1fr 1fr;
        }
      } */
      .footer-image {
        width: 100%;
        /* height: 40vh; */
        height: 40vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-blend-mode: multiply;
      }
      #milk-bottles {
        background-image: url("images/mobile/image-gallery-milkbottles.jpg");
      }
      #orange-slice {
        background-image: url("images/mobile/image-gallery-orange.jpg");
      }
      #cone {
        background-image: url("images/mobile/image-gallery-cone.jpg");
      }
      #sugar-cubes {
        background-image: url("images/mobile/image-gallery-sugar-cubes.jpg");
      }

      .sunnyside {
        padding-top: 50px;
        font-family: "Barlow", sans-serif;
        font-weight: 700;
        font-size: 39px;
        color: rgb(42, 97, 87);
      }

      .services {
        color: rgb(62, 132, 119);
        font-family: "Barlow", sans-serif;
        font-weight: 600;
        display: flex;
        justify-content: space-between;
        gap: 60px;
        font-size: 17px;
      }
      .icons img {
        margin: 0;
        width: 10%;
        padding: 15px;
      }
